body {
  background-color: #66CCFF;
  padding: 50px;
  font-family: sans-serif;
}

.Users input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
  
}

.sers input[type="submit"] {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

.Users input[type="submit"]:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.users-list {
  list-style: none;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
